//color
$blue: #1B74E4;
$grey: #65676B;
$white: #FFFFFF;
$background: #E4E6EB;
$gray: #F0F2F5;


//popular
.logo-blue{
    font-size: 3rem;
    color: $blue;
}
.logo-grey{
    font-size: 2rem;
    color: $grey;
}